/* 默认主题 */
:root.normalTheme{
  --header-bg-color:#242424;
  --nav-bg-color:#A92F11;
  --content-bg-color:#FFFFFF;
  --side-bg-color:#F5F5F5;
}

/* 白色主题 */
:root.whiteTheme{
  --header-bg-color:#FFFFFF;
  --nav-bg-color:#FFFFFF;
  --content-bg-color:#FAFAFA;
  --side-bg-color:##F4F4F4;
}